env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

name: publish
on: push
jobs:
  build-and-publish-latest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
            registry: ${{env.REGISTRY}}
            username: ${{github.actor}}
            password: ${{secrets.GITHUB_TOKEN}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ghcr.io/jenyakrol/film-react-nest/backend:latest

      - name: Build and push frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ghcr.io/jenyakrol/film-react-nest/frontend:latest
